[submodule "lib/litegraph.js-daniel"]
	path = lib/litegraph.js-daniel
	url = https://github.com/daniel-lewis-ab/litegraph.js.git
[submodule "lib/litegraph.tsx"]
	path = lib/litegraph.tsx
	url = https://github.com/litegraph-tsx/litegraph.tsx.git
